name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Update config.json with secrets
      run: |
        jq '.username = "${{ secrets.USERNAME }}" | .password = "${{ secrets.PASSWORD }}"' config.json > temp.json
        mv temp.json config.json

    - name: Build Docker image
      run: |
        docker build -t northamerica-northeast2-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID}}/mfa-import-map-deployer/import-map:latest .

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    # - name: Push Docker image
    #   run: |
    #     docker push northamerica-northeast2-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID}}/mfa-import-map-deployer/import-map:latest

    - name: Deploy to Cloud Run
      uses: google-github-actions/deploy-cloudrun@v1.0.2
      with:
        image: northamerica-northeast2-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID}}/mfa-import-map-deployer/import-map:latest
